$if(upcoming)$
<ul>
    $for(upcoming)$
        <li>
            <a href="$url$">$title$</a></br>$partial("templates/talkinfo.html")$
        </li>
    $endfor$
</ul>
$else$
<p class="lead alert alert-info" role="alert">Currently, no upcoming talks are planned. If you are interested, however, in giving a talk yourself, feel free to contact us!</p>
$endif$
